/* --------- */
/* Contact */
/* --------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

.contact-section {
  margin: auto;
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 0px !important;
}

.contact-row {
  margin: auto;
}

.contact-title{
  margin: auto;
  font-family: "Lato", sans-serif;
  font-size: 45px;
}

.contact-header {
  margin: auto;
  padding-top: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.contact-data {
  display: inline;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
